/** shop section **/

.shop {
    background: #fff;
}

.shop .titlepage {
    padding-bottom: 0;
    max-width: 458px;
    float: left;
}

.shop .titlepage h2 {
    padding-bottom: 30px;
    color: #2d2c2c;
}

.shop .titlepage p {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #282828;
    padding-bottom: 29px;
}

.shop_img {
    padding-left: 40px;
    height: 1
}

.shop_img figure {
    margin: 0;
}

.shop .titlepage .read_more::before {
    left: 89px;
}
.col-md-5{
    margin-top: 250px;
}
.col-md-5 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.col-md-5 p{
    font-weight: bold;
}
.col-md-5 .read_more{
    text-decoration: unset;
    font-weight: bold;
    color: black;
}


/** end shop section **/